.menu {
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
}

.menu__inner {
  margin : 0px 140px;
}

.menu__logo {
  float: left;
  font-size: 20px;  
  padding: 23px
}

.menu__logo span {
  font-weight: 1200;    
}

.menu__container {
  float: right;
  padding: 23px;
  margin-right: 40px;
}
